@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://media.licdn.com/dms/image/C4E12AQE5UujRGMChuw/article-cover_image-shrink_720_1280/0/1554907990201?e=1719446400&v=beta&t=oZzk4GOk1jRogUcPZbCp0262hp9ypRH9THzQqyiF-OE");
  background-size: cover;
  color: #1a0f0f;
  background-position: 40%;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 200px;
  z-index: 1000;
}